---
layout: default
---

<div style="text-align: center;">
	{% for page in site.pages %}
		{% if page.layout == "category" %}
			{% cycle 'add row' : '<div class="row">', nil, nil %}
			<div class="col-sm-4">
				<div class="preview-panel">
					<a href="{{ page.url }}" style="text-decoration: none;">
						<img style="width: 100%;" src="{{ page.preview }}">
	<!-- 					<div class="prev-post-title"><h3>{{ category }}</h3></div> -->
					</a>
			   </div>
			</div>
			{% cycle 'end row' : nil, nil, '</div>' %}
		{% endif %}
	{% endfor %}
	{% cycle 'end row' : nil, '</div>', '</div>' %}

</div>
